

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

div {
  background-color: #f9f9f9;
}

button {
  flex: 1;
  background-color: #4940b1;
  color: white;
  border: none;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.active {
  background-color: #9688ce;
}

table.launches-table {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

caption h1 {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 10px;
}
